header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 20%;
  min-height: 100vh;
  /* From https://css.glass */
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(0, 0, 0, 0.27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
/* ------------ LOGO ----------  */
.Logo {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.avatarLogo {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.avatarLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contentLogo {
  color: white;
}
.contentLogo p {
  color: var(--color-secondary);
}
/* ------------ MENU ----------  */
.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.Menu li {
  width: 50%;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.5s;
  border-radius: 0.3rem;
  position: relative;
}
.Menu li::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  border-radius: 0.3rem;
  background: #fff;
  width: 0%;
  transition: 0.5s;
}
.Menu li:hover::before {
  width: 80%;
}
.Menu li:hover a,
.Menu li:hover ion-icon {
  color: var(--color-secondary);
  z-index: 9999;
}
.Menu li a,
ion-icon {
  color: #fff;
  font-weight: 400;
}
