.detail-main{
    width: 100%;
}
.product-page-container{
    max-width: 1100px;
    width: 90%;
    margin: 30px auto;
    background-color: white;
}
.link-route{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-text);
    margin-bottom: 10px;
}
.link-route a{
    font-size: 1.1rem;
    color: var(--color-secondary);
    transition: all 0.3s ease-in-out;
}
.link-route a:hover{
    color: var(--color-tertiary);
}
.link-route i{
    color: var(--color-text);
    font-size: 11px;
    margin: 0 12px;
}
.link-route a:nth-child(1){
    margin-left: 0;
}
#product-page{
    background-color: #fff;
    padding: 30px;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
}
.product-page-img{
    border: 1px solid var(--color-primary);
    margin-right: 30px;
}
.product-page-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.product-page-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.product-page-detail h3{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.product-category{
    color: var(--color-text-detail);
}
.price{
    font-size: 1.3rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.del{
    text-decoration: line-through;
    font-size: 1rem;
    margin-left: 5px;
    color: var(--color-text-detail);
}
.small-desc{
    background-color: #fcfcfc;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 10px;border: 1px solid #f7f7f7;
    border-radius: 4px;
}
.qty-btn input[type="number"] {
    -moz-appearance: textfield; 
    text-align: center;
    font-size: 1.2rem;
    border: none;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-tertiary);
    width: 70px;
    margin-left: -10px;
    padding: 8px;
}
.qty-btn input[type="number"]{
    outline: none;
}
.qty-btn input[type="number"]::-webkit-inner-spin-button,
.qty-btn input[type="number"]::-webkit-ouner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.qty-btn button{
    color: var(--color-tertiary);
    border: 2px solid var(--color-primary);
    font-size: 1.2rem;
    margin: 0;
    background-color: #fff;
    padding: 8px;
}
.qty-btn button:nth-child(1){
    border-right: 0px;
    border-radius: 8px 0 0 8px;
}
.qty-btn button:nth-child(3){
    border-left: 0px;
    margin-left: -10px;
    border-radius: 0 8px 8px 0;
}
.cart-btns{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cart-btns .add-cart{
    background-color: var(--color-secondary);
    color: white;
    padding: 7px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}
.cart-btns .now-cart{
    background-color: white;
    color: var(--color-secondary);
    padding: 6px 20px;
    text-transform: uppercase;
    border: 2px solid var(--color-secondary);
    border-radius: 8px;
    position: relative;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}
.cart-btns .now-cart{
    transition-delay: .4s;
    transition: all 0.4s linear;
    z-index: 198;
}
.now-cart::after
{
    position: absolute;
    transition: all 0.4s linear;
    content: '';
    background-color: var(--color-secondary);
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}
.now-cart:hover{
    color: white;
}
.now-cart:hover::after{
    width: 100%;
}

