@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poiret+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Play", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1800px;
  overflow: hidden;
  transform-style: preserve-3d;
  /* background-image: radial-gradient(circle 248px at center, #ffe9e2 0%, #edb2a0 47%, #f5cdc4 90%); */
  background-image: url("https://cdn.shopify.com/s/files/1/0420/9242/9468/articles/blog1_1024x1024.jpg?v=1593749824");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 800ms ease;
  transform-style: preserve-3d;
}
.container.active {
  transform: rotateY(180deg);
}

.app {
  width: 90%;
  max-width: 550px;
  height: 630px;
  background: #fefefe;
  color: #fff;
  font-family: montserrat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  box-shadow: -2px 5px 15px rgba(0, 0, 0, 0.35);
}
.app.front {
  transform: rotateY(0deg) translateZ(0em);
}
.app.back {
  transform: rotateY(180deg) translateZ(0.5px);
}

.btn {
  height: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  background: #edb2a0;
  letter-spacing: 1px;
  font-size: 18px;
}
.field-2 {
  margin-top: 40px;
}

.header {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 150px 1fr;
  background: white;
  padding: 0 20px;
}
.header .info {
  height: 100%;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  white-space: nowrap;
  align-items: center;
  letter-spacing: 2px;
  color: #2f4858;
}
.details-login {
  padding-top: 90px;
}
.header .prompt {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #2f4858;
  margin-right: 20px;
}
.header .prompt .btn {
  padding: 0 20px;
  margin-left: 20px;
  color: #fff;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.main .user_field {
  width: 92%;
  height: 100%;
  background: #2f4858;
  padding: 10px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.main .user_field .direct.login {
  padding: 10px 0;
  display: flex;
}

.main .user_field .option_text {
  font-size: 15px;
  margin: 5px 0 10px 0;
}
.main .user_field ._details {
  width: 100%;
  height: 100%;
}
.main .user_field ._details .textbox {
  position: relative;
  margin: 10px 0 20px 0;
  height: 60px;
  display: flex;
  align-items: center;
}
.main .user_field ._details .textbox input {
  position: relative;
  height: 40px;
  width: 70%;
  border: none;
  background: none;
  border-bottom: 2px solid #fff;
  font-size: 18px;
  color: #fff;
  padding: 0 10px;
  letter-spacing: 1px;
  outline: none;
}
.main .user_field ._details .textbox input:focus + .input_detail,
.main .user_field ._details .textbox input:valid + .input_detail {
  font-size: 18px;
  left: 10px;
  top: 15%;
  color: #edb2a0;
  opacity: 1;
}
.main .user_field ._details .textbox .input_detail {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  user-select: none;
  font-weight: 800;
  opacity: 0.7;
  transition: all 200ms ease;
}
.main .btn.login {
  position: relative;
  color: #fff;
  align-self: flex-end;
  margin: 20px 20px 0 0;
  padding: 10px 0;
  width: 160px;
}

.app.back .header {
  grid-template-columns: 200px 1fr;
}

.app.back .main .user_field ._details .textbox {
  height: 40px;
}

.app.back .main .user_field ._details .textbox input:focus + .input_detail,
.app.back .main .user_field ._details .textbox input:valid + .input_detail {
  top: 0%;
}

.support {
  z-index: -1;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}

a {
  margin: 0 20px;
  color: #fff;
  font-size: 2rem;
  transition: all 400ms ease;
}

a:hover {
  color: #222;
}

.avt {
  position: relative;
  width: 10%;
  transition: filter 0.8s ease;
}
.avt:hover {
  filter: drop-shadow(1px 1px 22px #7584bb);
}
.avt:hover .camera-icon {
  filter: invert(100%);
}
.avt-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
#up_file {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 200px;
  margin-top: 0;
  opacity: 0;
}
.avt small {
  white-space: nowrap;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  display: block;
}
#up_file::-webkit-file-upload-button {
  visibility: hidden;
}
#up_file::before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 120px;
  cursor: pointer;
  border-radius: 50%;
}
.camera-icon {
  position: absolute;
  top: 34px;
  left: 30px;
  width: 60px;
  height: 60px;
  filter: invert(30%) !important;
  opacity: 0.8;
  transition: all 0.4s;
  border-radius: 50%;
}
.rel {
  padding-top: 30px;
}
