@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  list-style: none;
  text-decoration: none;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
ul {
  margin-bottom: unset !important;
}
:root {
  /* ------------ COLOR TEXT ------------  */
  --color-text: #2f4858;
  --color-text-detail: #687881;
  /* ----------------- COLOR BUTTON --------------  */
  --color-primary: #ffe9e2;
  --color-secondary: #edb2a0;
  --color-tertiary: #967166;
}

